h1 {
    color: blue
}

body {
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul {
    position: absolute;
    bottom: 0px;
}

.customli {
    color: gray
}